@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
body {
  margin: 0;
  padding: 0; }

a.--click-outline {
  outline: none; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0) scale(0.9);
            transform: translate3d(0, 100%, 0) scale(0.9); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0) scale(0.9);
            transform: translate3d(0, 100%, 0) scale(0.9); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@-webkit-keyframes glow {
  0% {
    -webkit-filter: drop-shadow(0 0 35px rgba(255, 255, 255, 0.7));
            filter: drop-shadow(0 0 35px rgba(255, 255, 255, 0.7)); }
  100% {
    -webkit-filter: drop-shadow(0 0 70px white);
            filter: drop-shadow(0 0 70px white); } }

@keyframes glow {
  0% {
    -webkit-filter: drop-shadow(0 0 35px rgba(255, 255, 255, 0.7));
            filter: drop-shadow(0 0 35px rgba(255, 255, 255, 0.7)); }
  100% {
    -webkit-filter: drop-shadow(0 0 70px white);
            filter: drop-shadow(0 0 70px white); } }

@-webkit-keyframes text-blink {
  0% {
    top: -10px;
    opacity: 0; }
  10% {
    top: -10px;
    opacity: 0; }
  20% {
    top: 0px;
    opacity: 1; }
  100% {
    top: 0px;
    opacity: 1; } }

@keyframes text-blink {
  0% {
    top: -10px;
    opacity: 0; }
  10% {
    top: -10px;
    opacity: 0; }
  20% {
    top: 0px;
    opacity: 1; }
  100% {
    top: 0px;
    opacity: 1; } }

body {
  font-family: Lato, sans-serif;
  color: #141414; }
  body h2 {
    font-size: 38px;
    margin-bottom: 30px;
    font-weight: 900; }
    @media screen and (max-width: 500px) {
      body h2 {
        font-size: 32px;
        margin-bottom: 23px; } }
  body h3 {
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 900; }
    @media screen and (max-width: 500px) {
      body h3 {
        margin-bottom: 23px; } }
  body p {
    font-size: 20px;
    line-height: 1.5; }
    @media screen and (max-width: 500px) {
      body p {
        text-align: left;
        font-size: 17px; } }
    @media screen and (max-width: 350px) {
      body p {
        font-size: 15px; } }
  body a, body a:focus, body a:active, body a:hover, body a:visited {
    text-decoration: none; }
  body p > a {
    color: #090F15;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: none;
    border-bottom: 2px solid #ce2c9e;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent; }
    body p > a:hover, body p > a.active {
      color: white;
      border-bottom-color: transparent;
      border-left: 2px solid #ce2c9e;
      border-right: 2px solid #ce2c9e;
      background: #ce2c9e; }

img {
  background-position: 50% 50%;
  background-size: cover; }

body {
  background: #1B031A; }
  body .fixed-background {
    position: fixed;
    pointer-events: none;
    z-index: -1;
    background: -webkit-linear-gradient(top, #1A2E44, #090F15);
    background: linear-gradient(to bottom, #1A2E44, #090F15);
    width: 100%;
    height: 100%; }

.content {
  position: relative;
  min-height: 50px;
  margin: 0 auto 20px; }
  @media screen and (max-width: 500px) {
    .content {
      text-align: center; } }
  .content__anchor {
    position: absolute;
    height: 50px;
    bottom: 100%; }

.section {
  position: relative;
  margin-bottom: 150px; }
  @media screen and (max-width: 1400px) {
    .section {
      margin-bottom: 125px; } }
  @media screen and (max-width: 1200px) {
    .section {
      margin-bottom: 75px; } }
  @media screen and (max-width: 500px) {
    .section {
      margin-bottom: 50px; } }
  @media screen and (max-width: 500px) {
    .section__image {
      max-width: 100%;
      height: auto; } }
  .section__image img {
    width: 100%; }
  .section__anchor {
    position: absolute;
    height: 40px;
    bottom: 100%; }

.section--full-bleed {
  position: relative; }
  .section--full-bleed .section__image img {
    display: block;
    object-fit: cover;
    background-color: transparent;
    min-height: 80vh; }
    @media screen and (orientation: portrait) {
      .section--full-bleed .section__image img {
        min-height: 50vw; } }
  .section--full-bleed .section__text {
    background: rgba(255, 255, 255, 0.87);
    position: absolute;
    padding: 10px 30px 20px;
    right: 0;
    top: 50%;
    margin-right: 280px;
    max-width: 360px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
    @media screen and (max-width: 1460px) {
      .section--full-bleed .section__text {
        margin-right: calc(50% - 500px); } }
    @media screen and (max-width: 1200px) {
      .section--full-bleed .section__text {
        margin-right: calc(50% - 460px);
        max-width: 320px; }
        .section--full-bleed .section__text h2 {
          font-size: 30px; }
        .section--full-bleed .section__text p {
          font-size: 18px; } }
    @media screen and (max-width: 1000px) {
      .section--full-bleed .section__text {
        margin-right: calc(50% - 430px);
        max-width: 320px; } }
    @media screen and (max-width: 920px) {
      .section--full-bleed .section__text {
        -webkit-transform: none;
                transform: none;
        max-width: 100%;
        top: auto;
        position: relative;
        margin-right: 0; } }

.section--badges .section__title {
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 1px;
  margin: 0 20px 50px; }
  @media screen and (max-width: 850px) {
    .section--badges .section__title {
      font-size: 50px;
      margin-bottom: 40px; } }
  @media screen and (max-width: 500px) {
    .section--badges .section__title {
      padding-top: 5px;
      padding-bottom: 15px; } }
  @media screen and (max-width: 380px) {
    .section--badges .section__title {
      font-size: 40px;
      font-weight: 900; } }
  @media screen and (max-width: 310px) {
    .section--badges .section__title {
      font-size: 35px; } }
  @media screen and (max-width: 270px) {
    .section--badges .section__title {
      font-size: 30px; } }
  @media screen and (max-width: 310px) {
    .section--badges .section__title {
      font-weight: 400; } }

.section--badges .section__text {
  padding: 0 30px;
  background: none;
  color: white;
  text-align: center;
  margin-bottom: 70px;
  font-size: 30px;
  font-weight: 300; }
  @media screen and (max-width: 420px) {
    .section--badges .section__text {
      font-size: 30px; } }
  @media screen and (max-width: 320px) {
    .section--badges .section__text {
      font-size: 25px; } }
  @media screen and (max-width: 280px) {
    .section--badges .section__text {
      font-size: 20px; } }
  @media screen and (max-width: 260px) {
    .section--badges .section__text {
      font-size: 17px; } }

.section--text {
  max-width: 900px;
  margin: auto;
  padding: 30px 80px 80px;
  background: #f3f3f3; }
  @media screen and (max-width: 650px) {
    .section--text {
      padding: 20px 40px 40px; } }
  @media screen and (max-width: 500px) {
    .section--text {
      padding: 1px 25px 25px; } }
  .section--text--black {
    background: none;
    color: #f8f8f8; }
    .section--text--black p > a {
      color: #fff; }

.badges {
  list-style: none;
  text-align: center;
  padding-left: 0;
  max-width: 1400px;
  margin: auto; }
  @media screen and (max-width: 1500px) {
    .badges {
      max-width: 1200px; } }
  @media screen and (max-width: 800px) {
    .badges {
      width: 420px; } }
  @media screen and (max-width: 450px) {
    .badges {
      width: 350px; } }
  @media screen and (max-width: 360px) {
    .badges {
      width: 250px; } }
  @media screen and (max-width: 260px) {
    .badges {
      width: 200px; } }

.w-badge {
  display: inline-block;
  vertical-align: top;
  margin: 0 50px 50px;
  width: 250px; }
  .w-badge:last-child {
    margin-bottom: 0; }
  @media screen and (max-width: 930px) {
    .w-badge {
      margin: 0 10px 50px; } }
  @media screen and (max-width: 800px) {
    .w-badge {
      margin: 0;
      padding: 0 0 50px;
      width: 49%; } }
  .w-badge--hover {
    -webkit-transition: -webkit-transform 0.2s , -webkit-filter 0.1s;
    transition: -webkit-transform 0.2s , -webkit-filter 0.1s;
    transition: transform 0.2s , filter 0.1s;
    transition: transform 0.2s , filter 0.1s , -webkit-transform 0.2s , -webkit-filter 0.1s; }
    .w-badge--hover img {
      -webkit-transition: -webkit-filter 0.1s;
      transition: -webkit-filter 0.1s;
      transition: filter 0.1s;
      transition: filter 0.1s, -webkit-filter 0.1s; }
    @media screen and (min-width: 701px) {
      .w-badge--hover:hover {
        -webkit-transform: translateY(-10%);
                transform: translateY(-10%);
        -webkit-filter: drop-shadow(0 0 40px white);
                filter: drop-shadow(0 0 40px white); }
        .w-badge--hover:hover img {
          -webkit-filter: drop-shadow(0 0 20px white);
                  filter: drop-shadow(0 0 20px white); } }
  .w-badge__icon {
    margin-bottom: 30px;
    position: relative;
    height: 120px; }
    .w-badge__icon img {
      height: 120px;
      width: auto;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    @media screen and (max-width: 850px) {
      .w-badge__icon {
        margin-bottom: 0;
        height: 70px; }
        .w-badge__icon img {
          height: 70px; } }
  .w-badge__title {
    color: white;
    margin-top: 5px; }
    @media screen and (max-width: 500px) {
      .w-badge__title {
        font-size: 18px; } }
    @media screen and (max-width: 360px) {
      .w-badge__title {
        font-size: 14px;
        padding-top: 3px;
        font-weight: 400; } }
    @media screen and (max-width: 280px) {
      .w-badge__title {
        font-size: 12px; } }

@media screen and (max-width: 500px) {
  .bio__image {
    width: calc(100% + 2 * 25px);
    margin-left: -25px; }
    .bio__image img {
      box-shadow: none;
      border: none; } }

.blog {
  margin-bottom: 50px; }
  .blog__post {
    margin-bottom: 30px; }
    .blog__post .button {
      opacity: 0.8; }
  .blog__date {
    margin-bottom: 0px;
    font-weight: 300;
    font-size: 15px;
    clear: both;
    text-align: left; }
  .blog__body {
    position: relative; }
  .blog:not(.blog--single) .button {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px); }
    .blog:not(.blog--single) .button a {
      padding: 4px 11px 4px 9px; }
  .blog__question {
    font-style: italic; }
  .blog__answer strong {
    font-style: italic; }
  .blog__question .button, .blog__answer .button {
    font-style: normal; }

.button {
  font-size: 14px; }
  @media screen and (max-width: 500px) {
    .button--big {
      margin-top: 10px;
      text-align: center; } }
  .button + .button {
    margin-top: 20px; }
  .button a {
    display: inline-block;
    border-bottom: none;
    padding: 5px 10px 6px 10px;
    background-color: white;
    color: #0C0C18;
    border: 3px solid white;
    font-weight: 600; }
    @media screen and (max-width: 500px) {
      .button a {
        padding: 10px 20px 12px 15px; } }
    .button a:hover, .button a.active {
      color: white;
      border-color: white;
      background: transparent; }
      .button a:hover img, .button a.active img {
        -webkit-filter: invert(0%);
                filter: invert(0%); }
  .button--big a {
    font-size: 20px; }
  .button--vbig button__container {
    border-radius: 5px; }
  .button--vbig a {
    border-radius: 5px;
    font-size: 35px;
    padding: 10px 30px 12px;
    font-weight: 700; }
  .button--big.button--icon a {
    padding-right: 15px; }
  .button--vbig.button--icon a {
    padding-right: 40px; }
  .button img.button__icon {
    display: inline-block;
    width: 40px;
    -webkit-filter: invert(100%);
            filter: invert(100%); }
  .button--bigger .button__container {
    border-radius: 5px; }
  .button--bigger a {
    font-size: 26px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 15px; }
    @media screen and (max-width: 400px) {
      .button--bigger a {
        font-size: 23px; } }
    @media screen and (max-width: 320px) {
      .button--bigger a {
        font-size: 20px; } }
    @media screen and (max-width: 300px) {
      .button--bigger a {
        padding-left: 15px;
        padding-right: 15px; } }
  .button--bigger.button--icon a {
    padding-left: 65px; }
  .button--bigger.button--icon .button__icon {
    width: 35px;
    left: 20px; }
  .button--inline {
    display: inline; }
  .button--black .button__container {
    display: inline-block;
    position: relative;
    background: -webkit-linear-gradient(left, #6f42b0, #ce2c9e);
    background: linear-gradient(to right, #6f42b0, #ce2c9e); }
  .button--black img.button__icon {
    -webkit-filter: invert(0%);
            filter: invert(0%); }
  .button--black a {
    background: #141414;
    color: white;
    border: 2px solid #141414; }
    .button--black a:hover, .button--black a.active {
      border-color: transparent;
      background: transparent; }

.clients {
  list-style: none;
  text-align: center;
  padding-left: 0; }
  .clients li {
    display: inline-block;
    margin: 0 10px 35px; }
    .clients li:last-child {
      margin-bottom: 0; }
    @media screen and (max-width: 1800px) {
      .clients li {
        margin: 0 60px 60px; } }
    @media screen and (max-width: 1375px) {
      .clients li {
        margin: 0 85px 60px; } }
    @media screen and (max-width: 1025px) {
      .clients li {
        margin: 0 45px 35px; } }
    @media screen and (max-width: 700px) {
      .clients li {
        display: block; } }
  .clients__item {
    width: 300px; }
    @media screen and (max-width: 1025px) {
      .clients__item {
        max-width: 200px;
        margin: auto; } }
    .clients__item img {
      max-width: 100%;
      max-height: 100px;
      -webkit-filter: grayscale(40%);
              filter: grayscale(40%);
      background: rgba(255, 255, 255, 0); }
    .clients__item a {
      width: 100%;
      position: relative;
      height: 100%;
      display: inline-block; }
      .clients__item a:hover img {
        -webkit-filter: grayscale(0%);
                filter: grayscale(0%); }
      .clients__item a.--rounded img {
        border-radius: 5px; }
      .clients__item a::after {
        content: "";
        position: absolute;
        width: 100%;
        bottom: -26px;
        left: 0;
        border-bottom: 0px solid white;
        opacity: 0;
        -webkit-transform: translateY(16px);
                transform: translateY(16px);
        -webkit-transition: border-bottom 0.2s ease-out, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
        transition: border-bottom 0.2s ease-out, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
        transition: border-bottom 0.2s ease-out, opacity 0.2s ease-out, transform 0.2s ease-out;
        transition: border-bottom 0.2s ease-out, opacity 0.2s ease-out, transform 0.2s ease-out, -webkit-transform 0.2s ease-out; }
      .clients__item a:hover::after {
        border-bottom: 6px solid white;
        opacity: 0.9;
        -webkit-transform: translateY(0);
                transform: translateY(0); }
  .clients__name {
    background: white;
    padding: 20px; }

.w-footer {
  color: white;
  padding-top: 10px;
  padding-bottom: 80px;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.85; }
  .w-footer p {
    text-align: center; }
  .w-footer a {
    color: white;
    -webkit-filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0));
            filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0));
    -webkit-transition: -webkit-filter 0.2s ease-out;
    transition: -webkit-filter 0.2s ease-out;
    transition: filter 0.2s ease-out;
    transition: filter 0.2s ease-out, -webkit-filter 0.2s ease-out;
    border-bottom: none;
    padding: 1px 2px;
    font-style: normal;
    position: relative; }
    .w-footer a:hover, .w-footer a.active {
      color: white;
      text-decoration: none;
      background: #ce2c9e; }
    @media screen and (max-width: 500px) {
      .w-footer a {
        font-weight: 400;
        margin: 0 30px; } }
    .w-footer a::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 0px;
      border-bottom: solid 2px #ce2c9e;
      bottom: -1px;
      left: 0; }

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 900px;
  margin: auto;
  text-align: center;
  color: white; }
  @media screen and (max-width: 900px) {
    .header {
      padding-left: 10px;
      padding-right: 10px; } }
  .header .title {
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: -7px;
    margin-top: 4px;
    letter-spacing: 3px; }
    @media screen and (max-height: 550px) {
      .header .title {
        font-size: 40px; } }
    @media screen and (max-width: 800px) {
      .header .title {
        font-size: 85px; } }
    @media screen and (max-width: 700px) {
      .header .title {
        font-size: 75px; } }
    @media screen and (max-width: 600px) {
      .header .title {
        font-size: 65px; } }
    @media screen and (max-width: 540px) {
      .header .title {
        font-size: 55px; } }
    @media screen and (max-width: 460px) {
      .header .title {
        font-size: 50px; } }
    @media screen and (max-width: 425px) {
      .header .title {
        font-size: 45px; } }
    @media screen and (max-width: 395px) {
      .header .title {
        margin-bottom: -4px;
        font-size: 40px; } }
    @media screen and (max-width: 360px) {
      .header .title {
        font-size: 35px; } }
    @media screen and (max-width: 315px) {
      .header .title {
        font-size: 30px; } }
    @media screen and (max-width: 275px) {
      .header .title {
        font-size: 25px; } }
    @media screen and (max-width: 235px) {
      .header .title {
        margin-bottom: -3px;
        font-size: 20px; } }
  .header .sub-title {
    font-size: 29px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 16px;
    letter-spacing: 3px;
    color: white; }
    @media screen and (max-width: 800px) {
      .header .sub-title {
        margin-left: 5px;
        margin-right: 5px; } }
    @media screen and (max-width: 500px) {
      .header .sub-title {
        margin-left: 0px;
        margin-right: 0px; } }
    @media screen and (max-width: 540px) {
      .header .sub-title {
        font-size: 25px; } }
    @media screen and (max-width: 460px) {
      .header .sub-title {
        font-size: 22px; } }
    @media screen and (max-width: 425px) {
      .header .sub-title {
        font-size: 20px; } }
    @media screen and (max-width: 395px) {
      .header .sub-title {
        font-size: 18px; } }
    @media screen and (max-width: 360px) {
      .header .sub-title {
        font-size: 15px; } }
    @media screen and (max-width: 320px) {
      .header .sub-title {
        margin-bottom: 6px; } }
    @media screen and (max-width: 315px) {
      .header .sub-title {
        font-size: 12px; } }
    @media screen and (max-width: 275px) {
      .header .sub-title {
        font-size: 10px; } }
    @media screen and (max-width: 235px) {
      .header .sub-title {
        font-size: 7px; } }
  .header .logo {
    opacity: 1.0;
    width: 250px;
    height: 250px;
    margin-top: 15px; }
    @media screen and (max-height: 900px) {
      .header .logo {
        margin-top: 0;
        width: 125px;
        height: 125px; } }
    @media screen and (max-height: 600px) {
      .header .logo {
        width: 75px;
        height: 75px; } }
    @media screen and (max-width: 500px) {
      .header .logo {
        margin-bottom: 5px; } }

.--inline-nav .nav {
  position: relative; }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: #142130;
  border-bottom: solid 1px #1d1d1d; }
  .nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 49px; }
    @media screen and (max-width: 800px) {
      .nav ul {
        height: 47px; } }
    @media screen and (max-width: 600px) {
      .nav ul {
        height: 45px; } }
    @media screen and (max-width: 500px) {
      .nav ul {
        height: 44px; } }
    @media screen and (max-width: 450px) {
      .nav ul {
        height: 42px; } }
    @media screen and (max-width: 320px) {
      .nav ul {
        height: 34px; } }
    @media screen and (max-width: 240px) {
      .nav ul {
        height: 34px; } }
    @media screen and (max-width: 200px) {
      .nav ul {
        height: 30px; } }
  .nav li {
    display: inline-block;
    height: 100%; }
  .nav a, .nav a:focus, .nav a:active {
    position: relative;
    font-size: 30px;
    color: white;
    display: inline-block;
    padding: 0px 7px 0px;
    opacity: 0.8;
    position: relative;
    margin: 0px 15px 3px;
    height: 100%;
    margin-bottom: 0; }
    @media screen and (max-width: 800px) {
      .nav a, .nav a:focus, .nav a:active {
        font-size: 25px; } }
    @media screen and (max-width: 750px) {
      .nav a, .nav a:focus, .nav a:active {
        font-size: 20px;
        padding: 8px 10px 9px; } }
    @media screen and (max-width: 600px) {
      .nav a, .nav a:focus, .nav a:active {
        font-size: 17px;
        margin: 0px 10px 0; } }
    @media screen and (max-width: 540px) {
      .nav a, .nav a:focus, .nav a:active {
        font-size: 17px;
        margin: 0px 7px 0; } }
    @media screen and (max-width: 460px) {
      .nav a, .nav a:focus, .nav a:active {
        font-size: 16px;
        margin: 0px 5px; } }
    @media screen and (max-width: 425px) {
      .nav a, .nav a:focus, .nav a:active {
        font-size: 15px;
        padding: 8px 10px 9px;
        margin: 0px 3px; } }
    @media screen and (max-width: 390px) {
      .nav a, .nav a:focus, .nav a:active {
        font-size: 14px; } }
    @media screen and (max-width: 375px) {
      .nav a, .nav a:focus, .nav a:active {
        font-size: 13px;
        margin: 0px 0px; } }
    @media screen and (max-width: 340px) {
      .nav a, .nav a:focus, .nav a:active {
        font-size: 12px; } }
    @media screen and (max-width: 320px) {
      .nav a, .nav a:focus, .nav a:active {
        font-size: 11px; } }
    @media screen and (max-width: 310px) {
      .nav a, .nav a:focus, .nav a:active {
        font-size: 10px; } }
    @media screen and (max-width: 295px) {
      .nav a, .nav a:focus, .nav a:active {
        padding: 8px 8px 9px; } }
    @media screen and (max-width: 275px) {
      .nav a, .nav a:focus, .nav a:active {
        padding: 8px 6px 9px; } }
    @media screen and (max-width: 250px) {
      .nav a, .nav a:focus, .nav a:active {
        padding: 8px 5px 9px; } }
    @media screen and (max-width: 235px) {
      .nav a, .nav a:focus, .nav a:active {
        font-size: 9px; } }
    @media screen and (max-width: 220px) {
      .nav a, .nav a:focus, .nav a:active {
        font-size: 8px; } }
  .nav a.--hover, .nav a.next {
    opacity: 0.9;
    border-bottom: 4px solid white; }
    .nav a.--hover::after, .nav a.next::after {
      opacity: 1; }
  .nav a.next {
    background-color: rgba(255, 255, 255, 0.11); }
  .nav a.active {
    background-color: rgba(255, 255, 255, 0.15);
    opacity: 1;
    font-weight: 600;
    border-bottom: 4px solid white; }

.widget_news .date {
  margin-bottom: 0px;
  font-weight: 300;
  font-size: 15px; }

.widget_news .news-item {
  margin-bottom: 20px; }

.blog-content .section--text {
  color: #d7e0ea;
  margin: 0px auto 0px;
  padding: 0;
  max-width: 850px; }

.blog-content .blog {
  padding: 1px 30px; }
  @media screen and (max-width: 400px) {
    .blog-content .blog {
      padding: 1px 15px; } }
  .blog-content .blog h2, .blog-content .blog h3 {
    color: #f8f8f8; }
  .blog-content .blog p {
    font-size: 24px;
    margin-bottom: 21px;
    line-height: 1.6; }
    @media screen and (max-width: 700px) {
      .blog-content .blog p {
        font-size: 22px; } }
    @media screen and (max-width: 570px) {
      .blog-content .blog p {
        font-size: 20px; } }
    @media screen and (max-width: 400px) {
      .blog-content .blog p {
        font-size: 18px; } }
    @media screen and (max-width: 320px) {
      .blog-content .blog p {
        font-size: 16px; } }
  .blog-content .blog strong {
    color: #f8f8f8; }
  .blog-content .blog__question {
    margin-bottom: 30px; }

.blog-content .section--buttons {
  width: 100%;
  max-width: 900px;
  text-align: center;
  margin: auto;
  margin-bottom: 80px; }

.blog-content .button--read-more {
  white-space: nowrap; }

.contact-content {
  text-align: center; }
  .contact-content h2 {
    color: #d7e0ea; }
  .contact-content p {
    text-align: center;
    color: #d7e0ea; }
  .contact-content .button {
    display: inline-block;
    max-width: 310px;
    width: 100%;
    height: 80px;
    position: relative; }
    @media screen and (max-width: 270px) {
      .contact-content .button {
        height: 60px; } }
    .contact-content .button__text {
      position: absolute;
      left: 95px;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
      @media screen and (max-width: 350px) {
        .contact-content .button__text {
          left: 100px;
          font-size: 17px; } }
      @media screen and (max-width: 330px) {
        .contact-content .button__text {
          left: 90px; } }
      @media screen and (max-width: 320px) {
        .contact-content .button__text {
          left: 80px; } }
      @media screen and (max-width: 305px) {
        .contact-content .button__text {
          left: 70px; } }
      @media screen and (max-width: 300px) {
        .contact-content .button__text {
          left: 65px;
          font-size: 15px; } }
      @media screen and (max-width: 270px) {
        .contact-content .button__text {
          left: 55px; } }
      @media screen and (max-width: 255px) {
        .contact-content .button__text {
          left: 65px;
          font-size: 12px; } }
    .contact-content .button__container {
      height: 100%; }
    .contact-content .button img {
      width: 50px;
      position: absolute;
      left: 25px;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
      @media screen and (max-width: 350px) {
        .contact-content .button img {
          left: 35px;
          width: 45px; } }
      @media screen and (max-width: 330px) {
        .contact-content .button img {
          left: 25px; } }
      @media screen and (max-width: 320px) {
        .contact-content .button img {
          left: 20px;
          width: 40px; } }
      @media screen and (max-width: 305px) {
        .contact-content .button img {
          left: 15px;
          width: 35px; } }
      @media screen and (max-width: 270px) {
        .contact-content .button img {
          left: 15px;
          width: 30px; } }
      @media screen and (max-width: 255px) {
        .contact-content .button img {
          left: 20px;
          width: 30px; } }
    .contact-content .button a {
      display: inline-block;
      height: 100%;
      padding: 10px;
      border-radius: 5px;
      width: 100%;
      opacity: 0.95; }

.contact__address {
  margin-top: 23px; }

.index-content .header {
  background: #101A26;
  max-width: 100%; }

.index-content .section--contact {
  color: white;
  text-align: center; }
  .index-content .section--contact p {
    text-align: center;
    font-size: 25px;
    margin: 0 30px 15px; }
  .index-content .section--contact .button {
    margin-top: 30px; }
    @media screen and (max-width: 700px) {
      .index-content .section--contact .button {
        margin-top: 70px; } }

.index-content .w-badge__icon {
  opacity: 0.9; }

