.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.project-card {
  position: relative;
  color: white;
  margin: 2rem 0;

  height: calc(100vh - 50px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.project-card:first-of-type {
  margin-top: 0px;
}

div.project-image-container {
  position: relative;
  
  height: calc(100vh - 50px - 6vw - 1.75rem);
  width: 100vw;

  display: flex;
  justify-content: center;
  overflow: hidden;
}

.project-card img[class*="-project-image"] {
  height: 100%;

  width: unset;
  /* width: 100%; */
  /* object-fit: cover; */

  /* scrollspy inactive state */
  filter: grayscale(1);
  transition: 1.5s;

  /* display: none; */
  position: absolute;

}


.project-card.active-card [class*="-project-image"] {
  /* scollspy active state */
  filter: grayscale(0) !important;
}

.project-description-container {
  position: absolute;
  background-color: rgb(20,33,48, 0.7);

  bottom: calc(6vw + 2rem);
  /* how can I make this width match the image width??? */
  width: 100%;

  padding: 0.5rem 1rem;
  text-align: left;
  font-size: 1rem;
  text-shadow: 0px 1px 3px rgb(0, 0, 0, 0.7);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-text-constraint {
  min-width: calc(100vmin - 6vw - 50px - 2rem);
  max-width: 85vh;
}

.project-title-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

.project-title {
  margin: 0;
  font-weight: 600;
  font-size: 1.25em;
}

.project-link {
  margin: 0;
  margin-right: 0.75rem;
  font-size: 1.25em;
  font-weight: 200;
}

.project-description {
  margin: 0.5rem 0;
  font-size: 1em;
}

.thumbnail-container {
  margin: 1rem 0;
}

.image-thumbnail {
  filter: grayscale(1);
  height: 6vw;
  margin: 0 2px;
}

.active-thumbnail {
  filter: grayscale(0);
  outline: 2px solid white;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  animation-name: fadeIn;
  animation-duration: 2s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0.5}
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0.5}
  to {opacity: 1}
}

/* MOBILE IN PORTRAIT */
@media (max-width: 500px) {
  .project-image-container {
    width: 100vw !important;
  }

  .project-description-container {
    /* added to flow of document */
    position: relative;
    bottom: 0;
    width: 100vw !important;
  }

  .project-text-constraint {
    min-width: unset;
    max-width: unset;
    width: 100%;
  }

  .image-thumbnail {
    height: 15vw;
  }
}

/* MOBILE IN LANDSCAPE */
@media (orientation: landscape) and (max-width: 825px) {
  .project-card {
    height: max-content;
  }

  .project-image-container {
    width: 100vw !important;
    height: calc(100vh - 50px) !important;
    overflow: unset;
  }

  .project-card img[class*="-project-image"] {
    width: unset;
    height: 100%;
    object-fit: unset;
  }

  
  .project-description-container {
    position: relative;
    bottom: 0;
    width: 100vw !important;
  }
  
  .project-text-constraint {
    min-width: unset;
    max-width: unset;
    width: 100%;
  }

  .image-thumbnail {
    height: 15vw;
  }
}