<div class="navbar">
    <ul class="navbar-list desktop">
        <li class="navbar-item" onclick="onHomeClick()"><a class="navbar-link active home-btn" >Home</a></li>
        <li class="navbar-item desktop-item" onclick="onNavItemClick('.services-btn')"><a class="navbar-link services-btn" href="#services">Services</a></li>
        <li class="navbar-item desktop-item" onclick="onNavItemClick('.clients-btn')"><a class="navbar-link clients-btn" href="#clients">Clients</a></li>
        <li class="navbar-item"><a class="navbar-link" href="#team">Team</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/contact">Contact</a></li>
    </ul>

</div>