<div class="navbar">
    <ul class="navbar-list">
        <% for(navItem of ['Home','Service','Clients','Team','Contact']) {%>
            <li class="navbar-item"><a class="navbar-link" href="#<%= navItem %>"><%= navItem %></a></li>
        <%}%> 
    </ul>
</div>