<div class="navbar">
    <ul class="navbar-list desktop">
        <li class="navbar-item" onclick="onHomeClick()"><a class="navbar-link active home-btn" >Home</a></li>
        <li class="navbar-item desktop-item" onclick="onNavItemClick('.services-btn','#services')"><a class="navbar-link services-btn" >Services</a></li>
        <li class="navbar-item desktop-item" onclick="onNavItemClick('.clients-btn','#clients')"><a class="navbar-link clients-btn" >Clients</a></li>
        <li class="navbar-item"><a class="navbar-link team-btn" href="/team">Team</a></li>
        <li class="navbar-item"><a class="navbar-link contact-btn" href="/contact">Contact</a></li>
    </ul>

</div>